.hide {
    display: none;
}

body {
    background-color: beige;
}

h1 {
    font-family: 'Rampart One', cursive;
}

h2,
button,
span {
    font-family: 'Press Start 2P', cursive;
}

figure,
.gImg {
    cursor: crosshair;
}

#char-games-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#char-games li {
    width: 300px;
}

#char-details p {
    padding: 0 10%;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    #character-section {
        display: flex;
        flex-direction: column;
    }

    #char-games-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #char-games {
        display: flex;
        justify-content: center;
    }
    
    .gImg{
        display: flex;
        justify-content: center;
    }


    #character-big-image {
        display: flex;
        justify-content: center;
    }

  }