.hide {
    display: none;
}


h1::before,
h1::after {
    content: ' \1F3AE';
    font-family: 'Rampart One', cursive;
}

h2,
button {
    font-family: 'Press Start 2P', cursive;
}

.gImg {
    width: 400px;
}

#char-games{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#char-games li {
    display: flex;
    flex-direction: column;
}

#char-details p {
    padding: 0 10%;
}

@media screen and (max-width: 700px) {
    #char-games {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .gImg{
        display: flex;
        justify-content: center;
    }
  }

  @media screen and (max-width: 1000px) {
    #character-section {
        display: flex;
        flex-direction: column;
    }

    #char-games-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

